body{
    font-family: 'Source Code Pro', monospace;
    color: #fff;
}

.background-image{ 
    background-image: url("imgs\\background.jpg");
    width: 100%;
}

.image-header{
    margin: 80px 0;
    border-radius: 50%;
    opacity: 0.85;
    width: 300px;
}

h1{
    text-align: center;
}

.p-apresentacao{
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 25%;
    width: 50%;
}

.sobre{
    margin-top: 70px;
}

.color-font{
    color: white !important;;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgb(0, 0, 0);
}

.tab-content>.active {
    display: block;
    margin-top: 5%;
}
.margin{
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 5%;
}
.card{
    background-color: rgb(99, 99, 99);
    color:#fff;
    border-radius: 20px;
}

.imagem{
    padding: 10px 20px;
}

.btn-primary{
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c49404;
    border-color: #c49404;
}

.card-text{
    height: 150px;
}